<!--NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-dark navbar-bg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("logo_pingu", width: 70)%> Pinguiwi</a>
  </div>
</nav>